video.tv {
	background-color: rgba(0, 0, 0, 1);
	position: relative;
	width: 90%;
	margin: 15px auto;
	border: 2px solid #7c25f8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
}

.tvarea, .faixas {
	padding: 5px 15px;
	margin: 10px;
}

.diversao .msgs {
	background: white;
	margin-bottom: 50px;
}

.lista {
	margin: 15px auto;
	height: 435px;
	border-left: 2px solid #7c25f8;
}

.lista li {
	margin-bottom: 10px;
}

.lista li button {
	font-size: 18px;
}

@media (max-width: 1125px) {
	.lista {
		height: 360px;
	}
}

@media (max-width: 1026px) {
	.lista {
		height: 300px;
	}
}

@media (max-width: 991px) {
	.lista {
		height: 217.5px;
	}
}